---
import CardMedia from './CardMedia.astro';

const { project } = Astro.props;
const slug = project.id.replace(/\.(md|mdx)$/, '');
---

<article class="card large post-card">
  <CardMedia
    indexMedia={project.data.indexMedia}
    indexMediaAlt={project.data.indexMediaAlt}
    indexVideo={project.data.indexVideo}
    indexVideoSrc={project.data.indexVideoSrc}
    hero={project.data.hero}
    video={project.data.video}
    videoSrc={project.data.videoSrc}
    videoPoster={project.data.videoPoster}
  />
  <h3><a href={`/projects/${slug}/`}>{project.data.title}</a></h3>
  <p>{project.data.summary}</p>
  <a class="button read-more-cta" href={`/projects/${slug}/`}>Read more <i class="fa-solid fa-angles-right" aria-hidden="true"></i></a>
</article>
